extends layout

block content
	div.container
		//- Main hero unit for a primary marketing message or call to action
		div.hero-unit
			h1 Meet Weaver.
			p Weaver is a PGP Web of Trust management tool that is designed for the every-day internet user.
			p
				a.btn.btn-primary.btn-large Learn more &raquo;

			//- Example row of columns
			div.row
				div.span3
					h2 Heading
						p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						p
							a.btn(href="#") View details &raquo;
				div.span3
					h2 Heading
						p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						p
							a.btn(href="#") View details &raquo;
				div.span3
					h2 Heading
						p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					p
						a.btn(href="#") View details &raquo;